version: '3.8'

services:
  backend:
    build: ./backend
    container_name: security_system_backend
    restart: always
    environment:
      - DATABASE_URL=sqlite:///instance/enhanced_security_system.db
      - JWT_SECRET_KEY=c3bc8b641c93a41a243e9c34c8d2fb19922af997e00924f61feb3c526e282caf
      - SECRET_KEY=1528651b4557375ac61445bec1c100aabf03139a6d3e8f50efc4b928b004f7fb
      - FLASK_DEBUG=False
      - PORT=5000
      - SMTP_SERVER=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USERNAME=alqudimitechnology@gmail.com
      - SMTP_PASSWORD=**** **** **** ****
      - FROM_EMAIL=alqudimitechnology@gmail.com
      - FROM_NAME=نظام الإنذار والأمان الذكي
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/instance:/app/instance
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: security_system_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
